* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;    
    z-index: 9;
}

html,
body {
    height: 100%;
    /* overflow-x: hidden; */


}

.home {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.left-section {
    width: 40%;
    height: 100%;
    background: #E5E5E5;
}

.right-section {
    width: 60%;
    height: 100%;
    background: #000000;
    position: relative;
}

.right-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    border-left: 250px solid #E5E5E5;
    border-bottom: 200vh solid transparent;
}

.home-menu ul {
    display: flex;
    align-items: end;
    color: white;
    padding: 50px;
    margin-left: 200px;
    margin-top: 2px;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

.home-menu ul li {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
}

.home-contact {
    background-color: #E5E5E5;
    color: #000000;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.home-contact:hover {
    background: #FFFFFF;
    color: #000000;
}

.image {
    margin-left: 400px;
    height: 50px;
    width: 50px;
}

.hoverClass {
    padding: 10px;
}

.hoverClass:hover {
    background: #fff;
    color: #000000;
    border-radius: 15px;
}

.changeHover {
    background: #000000 ;
    color: #fff;
}



/* lets start content design */
.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .content,.social-icon{
    margin-top:250px;
    margin-left: 200px;
    margin-bottom: -100px;
} */
.content h1{
    word-spacing: 2px;
    font-weight: unset;
    font-weight: 600;
}
.hi{
    margin-left: 8px;
}
.name{
    padding-top: 10px;
    font-size: 95px;
}
.content p{
    padding: 5px;
    font-size: 25px;
    color: #909090;
}
.social-icon{
    margin-top:20px;
    display: flex;
    gap: 3rem;
    font-size: 30px;
    justify-content: start;
    margin-left: -6.5rem;
    
    
}
.icon{
    color: #000000;
    
}